<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="css/cabinet.css"/>
  <link rel="icon" href="visual/iconka.ico"/>
  <title>Личный кабинет</title>
</head>
<body>

  <div id="gameTitle">
    <h1>labyrinths v.1.0</h1><br><br>
  </div>
  <center><img id=LB src="visual/name.png"></center>


	  <div id="base"> <!--Весь блок находится справа, но чет  html тэги не работают-->

		<center><img src="visual/LK.png"></center>
	   <!-- <center><h2>Your Profile</h2></center> -->
	   <center>..NAME..<center>  <br/><!--Пока что текстом, потому что я хз, каким тегом вытаскивать его из БД-->
	   <input id=view type="button" name="view" value="View levels" onclick=location.href="#"> <br/>
	   <input id=editor type="button" name="editor" value="Level editor" onclick=location.href="#"> <br/>
	   <input id=play type="button" name="play" value="PLAY" onclick=location.href="#">
	  </div> <br>



   <div style="position:absolute; bottom:0px; "id="finish">
    <center>Данный сайт разработан бедными бауманскими студентами: Чернышовым Иваном, Черненковым Андреем, Елисеевой Миленой,
    Александровой Вероникой, Муравлевым Всеволодом и Гримбергом Дмитрием холодным летом 2019 года</center>
  </div>

</body>
</html>
