* {
	outline: none;
}

html{
	height:100%;
	background: linear-gradient(45deg, #2A2A2A, #BEBEBE);
}

/* -------------------------------------------------------------- */

h1{
	margin: 0.5%;
	font-size: 60%;
	color: #EBEBEB;
	/* float:left; */
}

/* #gameTitle{ */

	/* height: 2%; */
	/* width: 5%; */
	/* position: fixed; */
	/* padding: 0.1%; */
	/* float: left; */
/* } */


/* -------------------------------------------------------------- */

#LB{
	/* margin-right: 5em; */
	margin-top: 2%;
	/* left: 50%; */
	width: 30%;
	/* float: left; */
}

/* -------------------------------------------------------------- */

#base{
	background: linear-gradient(45deg, #2A2A2A, #BEBEBE);
	border: 4px outset #2A2A2A;
	/* width: 20em; */
	/* margin-top: 7em; */
	width: 20%;
	margin-top: 5%;
	
	margin-right: auto;
	margin-left: auto;
	padding-left: auto;
	padding-right: auto;
}


#view , #editor, #play{
	height: 3em;
	width: 18em;
	margin: 0.5em;
	margin-top: 0.25em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
	color: #2A2A2A;
}

#view , #editor{
	background: #444444;
	color: #2A2A2A;
}

#play{
	background: #696969;
	color: #2A2A2A;
}

/* -------------------------------------------------------------- */

#footer{
	
	position: fixed;
    left: 0;
	bottom: 0; 
	margin-bottom: 0.5%;
	font-size: 80%;
	margin-left: 1%;
	/* margin:1em; */
	/* font-size: 0.8em; */
}	

/* -------------------------------------------------------------- */

/* div { */
	/* border: 3px outset #2A2A2A; */
/* } */




/* Кароче,Вероника,если ты это читаешь,то тут у меня возникла проблема */
/* Связанная с тем что h1, т.е. наше название */
/* На каждой странице на разных уровнях, я потом с этим разберусь */
