* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: url(../visual/creation.jpg) no-repeat;
	background-size: cover;
	background-position: left top;
	font-family: 'Montserrat', sans-serif;
}

#base {
	width: calc(100vw - 63px);
	height: calc(100vh - 135px);
	float: left;
}

@media screen and (min-width: 1920px) {
	#creationLab {
		width: 100%;
		height: calc(100vh - 202px);
		margin-top: 25vh;
		bottom: 0;
		position: fixed;
	}

	#menu {
		width: 50px;
		height: calc(100vh - 202px);
		margin-left: 8px;
		float: left;
		border-right: solid 5px;
		background-color: #ffe02f;
	}

	#size {
		float: left;
		margin-left: 5px;
		margin-top: 60px;
		margin-bottom: 15px;
		height: 100px;
		width: 14vw;
	}
}

@media screen and (max-width: 1919px) {
	#creationLab {
		width: 100%;
		height: calc(100vh - 135px);
		margin-top: 25vh;
		bottom: 0;
		position: fixed;
	}

	#menu {
		width: 50px;
		height: calc(100vh - 135px);
		margin-left: 8px;
		float: left;
		border-right: solid 5px;
		background-color: #ffe02f;
	}

	#size {
		float: left;
		margin-left: 5px;
		margin-top: 20px;
		margin-bottom: 15px;
		height: 100px;
		width: 14vw;
	}
}

/* #creationLab {
	width: 100%;
	height: calc(100vh - 135px);
	margin-top: 25vh;
	bottom: 0;
	position: fixed;
}

#menu {
	width: 50px;
	height: calc(100vh - 135px);
	margin-left: 8px;
	float: left;
	border-right: solid 5px;
	background-color: #ffe02f;
}

#size {
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 15px;
	height: 100px;
} */

#MinH, #MinW {
	text-align: center;
	color: #bebebe;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	width: 13vw;
	height: 40px;
	border-radius: 2.5em;
	background: #000;
	margin-top: 5px;
	font-size: 0.8em;
}

#line, #circle, #brush, #eraser, #grid, #palette, #square {
	padding-top: 10px;
	padding-left: 10px;
}

#number, #number1 {
  width: 88%;
}
