* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

#nameLab {
	background: url(creation.jpg);
	background-size: cover;
	float: right;
	height: 135px;
	width: 1000px;
}

#comands {
	float: left;
	width: calc(100vw - 1006px);
	height: 123px;
	border-top: solid 6px;
	border-bottom: solid 6px;
	border-left: solid 6px;
}

#exit, #restart {
	text-align: center;
	color: #bebebe;
	width: 20vw;
	height: 45px;
	border-radius: 2.5em;
	background: #000;
	margin-top: 10px;
	font-size: 0.8em;
}

/* #base, #cvs {
	width: calc(100vw - 72px);
	height: calc(100vh - 135px);
	float: left;
	background: pink;
} */
