* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #2A2A2A, #BEBEBE);
}

h1 {
	margin: 0.5%;
	font-size: 60%;
	color: #EBEBEB;
	float:left;
}

#LB {
	background-attachment: fixed;
	margin-right: 12%;
	margin-top: 3%;
	width: 30%;
	float: right;
}

#base {
	min-width: 5%;
	width: 20%;
	height: 20vh;
	right: 15vw;
	top: 40vh;
	position: absolute;
	float: right;
}

 #Login, #InPut, #Check_in, #Password {
	height: 3em;
	margin: 0.5em;
	margin-top: 0.25em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
}

#Login, #Password {
	width: 18em;
	background: #444444;
	color: #2A2A2A;
}

#InPut, #Check_in {
	width: 8.4em;
	background: #696969;
	color: #2A2A2A;
}

#dop {
	width: 200px;
	height: 375px;
	bottom : 2.5em;
	right: 0;
	position: absolute;
	background: url(../../visual/ugol.png) no-repeat;
}

#gif {
	margin-top: 15vh;
	margin-left: 5vw;
	background: url(../../visual/labirint.gif) no-repeat;
	width: 446px;
	height: 446px;
	float: left;
	border: 7px outset #2A2A2A;
}

hr {
	width: 100vw;
	margin-bottom: 1.5em;
}

#footer {
	width: 100vw;
	text-align: center;
	position: fixed;
  left: 0;
	bottom: 0;
	margin-bottom: 0.5%;
	font-size: 0.95vw;
}
