* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #2A2A2A, #BEBEBE);
}

h1 {
	margin: 0.5%;
	font-size: 60%;
	color: #EBEBEB;
	float:left;
}

/* #gameTitle{ */
	/* height: 2%; */
	/* width: 5%; */
	/* padding: 0.1%; */
	/* float: left; */
/* } */

/* -------------------------------------------------------------- */

#LB {
	background-attachment: fixed;
	/* display: grid; */
	margin-right: 12%;
	margin-top: 3%;
	width: 30%;
	float: right;

	/* margin-right: 1em; */
	/* margin-top: 3em; */
}

/* -------------------------------------------------------------- */

#base {
	min-width: 5%;
	width: 20%;
	height: 20vh;
	margin-top: 12%;
	float: right;
}

#Login, #InPut, #Check_in, #Password {
	height: 3em;
	margin: 0.5em;
	margin-top: 0.25em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
}

#Login, #Password {
	width: 18em;
	background: #444444;
	color: #2A2A2A;
}

#InPut, #Check_in {
	width: 8.4em;
	background: #696969;
	color: #2A2A2A;
}

/* -------------------------------------------------------------- */


#dop {
	bottom: 0px;
	margin-top: 12%;
	display: inline-block;
	width: 200px;
	height: 375px;
	float: right;
	background: url(../../visual/ugol.png) no-repeat;
}

#gif {
	margin-top: 10%;
	margin-left: 8%;
	background: url(../../visual/labirint.gif) no-repeat;
	width: 450px;
	height: 450px;
	float: left;
	border: 7px outset #2A2A2A;
}

/* -------------------------------------------------------------- */

hr {
	width: 100vw;
	margin-bottom: 1.5em;
}

#footer {
	width: 100vw;
	text-align: center;
	position: fixed;
  left: 0;
	bottom: 0;
	margin-bottom: 0.5%;
	font-size: 0.75em;
}

/* -------------------------------------------------------------- */

/* div { */
	/* border: 3px outset #2A2A2A; */
/* } */
