* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: url(../visual/input.jpg) no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

 #base {
	min-width: 5%;
	width: 20vw;
	height: 20vh;
	left: 5vw;
	top: 53vh;
	position: absolute;
	float: left;
}

 #Login, #InPut, #Check_in, #Password {
	height: 4vh;
	border-radius: 3em;
	text-align: left;
	font-weight: bold;
	margin-top: 4px;
}

#Login, #Password {
	width: 17vw;
	background: #000;
	color: #fff;
	letter-spacing: 0.2em;
	font-size: 1.7vh;
	text-indent: 5px;
	color: #fff;
}

#Check_in {
	width: 8vw;
	background: #ffe02f;
	font-size: 1.9vh;
	text-align: center;
	margin-left: 0.6vw;
}

#InPut {
	width: 8vw;
	background: #ffe02f;
	color: #000;
	font-size: 1.9vh;
	text-align: center;
	margin-left: 0.2vw;
}

#footer {
	width: 75.4vw;
	text-align: center;
	position: fixed;
  right: 5px;
	bottom: 0;
	font-size: 0.8vw;
	font-weight: 650;
	background: #ffe02f;
}
