* {
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #2A2A2A, #BEBEBE);
}

h1 {
	margin: 0.5%;
	font-size: 60%;
	color: #EBEBEB;
	float: left;
}

#LB {
	margin-top: 2vh;
	width: 30vw;
	left: 40vw;
}

#base {
	width: 20vw;
	margin-top: 15vh;
	margin-right: auto;
	margin-left: auto;
}

#Name, #Password, #Password1, #Login, #Check_in {
	height: 3em;
	width: 18em;
	margin: 0.5em;
	margin-top: 0.25em;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
	color: #2A2A2A;
}

#Login, #Password, #Name, #Password1 {
	background: #444444;
}

#Check_in {
	background: #696969;
}

#gif, #gif1 {
	margin-top: 3vw;
	width: 450px;
	height: 338px;
	background: url(../../visual/lab.png) no-repeat;
}

#gif {
	left: 3vw;
	position: absolute;
}

#gif1 {
	right: 3vw;
	position: absolute;
}

hr {
	width: 100vw;
	margin-bottom: 1.5em;
}

#footer {
	width: 100vw;
	text-align: center;
	position: fixed;
  left: 0;
	bottom: 0;
	margin-bottom: 0.5%;
	font-size: 0.95vw;
}
